name: Build and Push Docker image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t ghcr.io/buithevinh/warmup-app:latest .

      - name: Push Docker image
        run: docker push ghcr.io/buithevinh/warmup-app:latest
